/*NOTE WRITE YOUR CODE BELOW THE NAME*/
body{
    margin: 0;
    padding: 0;
    position: relative;
    font-family: 'playfair display';
}
@media (max-width:768px) {
  .hero {
    height: 70vh; /* slightly shorter on phones */
  }
  
  .hero h1 {
    font-size: 28px;
  }
  
  .hero p {
    font-size: 16px;
  }
}
@media (max-width:768px){
  .hero {
    background-attachment: scroll;
  }
}
#section-2, #section-3, #section-4, #section-5, #section-6, #section-7{
    background-color: #fefeff;
    padding: 20px;
    text-align: center;
}
#section-8, footer{
    background-color: #306f91;
    padding: 20px;
    text-align: center;
}
/*Navbar Section, Hero Section, and Packages Section (SAGUINSIN)*/
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fefeff;
    padding: 0 2rem;
    min-height: 70px;
    width: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid #306f91;
    position: sticky;
    top: 0;
    z-index: 1000;
}
.nav-left{
    flex-shrink: 0;
}
.logo{
    color: #306f91;
    font-family: 'playfair display';
    font-size: 1.8rem;
    font-weight: bold;
    text-decoration: none;
}
.nav-right{
    flex-wrap: nowrap;
    margin-left: auto;
    display: flex;
    gap: 1.5rem;
}

.nav-right a{
    color: #306f91;
    text-decoration: none;
    font-size: 1rem;
    gap: 2rem;
    padding: 0.5rem 0;
    white-space: nowrap
    
}
nav li{
    display: inline;
}
.hero-section{
  height: 100vh; /* fills 100% of the viewport height */
   background: radial-gradient(circle at left center,
rgba(255,255,255,0.9),
rgba(255,255,255,0) 60%), url('assets/hero.jpg') no-repeat center center;
  background-size: cover; /* image covers the whole area */
  background-position: center; /* keeps it centered */
  background-repeat: no-repeat;
  display: flex; /* for centering content if needed */
  align-items: center;
  justify-content: flex-start; /* text on left side */
  padding-left: 5vw; /* responsive padding */
  text-align: center;
  color: #fefeff;
}
   
/*Destinations Section,and Featured Section (ENDOZO)*/
/*About Section,and Testimonials Section (KONG)*/
/*FAQ Section and Contact Section (LAGNADA)*/

